.img-grande{
    width: auto; height: 170px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
    
  }
.separador{
    margin-right: 20px;
    margin-bottom: -25px;
}
.product{
    border-radius: 8px;
    width: 280px;

}
.prod-body{
    padding: 12px;
    width: fit-content;
    
}
.contenedor{
    justify-content: center;
    
}
.product-size{
    width: fit-content;
    
}
.cont-grande{
    width: 282px;
    height: 355px ;
    font-family: Muli; 
    margin-bottom: 16px;
    
}
.h5{
    font-size: 20px;
    font-weight:550;
    color: red;
    line-height: 16px;
    font-style: normal;
    font-variant: normal;
    padding-bottom: 5px;
    font-weight: bold;
}
.pp{
    font-size: 13px;
    padding-bottom: 15px;
}

.content {
    display: flex;
    align-items: flex-start;
    padding-right: 15px;
    width: 160px;
    
  }
  
  .content img {
    margin-right: 10px;
    display: block;
    justify-content: center;
  }
  
  .content h3,
  .content p {margin: 0;}

  .texto{
      font-size: 12px;
      font-family: Muli; 
      font-weight: bold;
      color: grey;
      width: fit-content;
  }
.icon2{
    margin-left:22px;
    margin-right: 5px;
    width: 45px;
}